extends layout
block content
    .row
      .holder
        h1 Hi Im the reviews page!
         .grid-container
           each review in reviews
            .item
             h1.itemtitle #{review.name}
             p.itemp #{review.content}
             a.button(href="/editreviews/#{review.id}") Edit #{review.Name}
             a.button(href="/deletereview/#{review.id}") Delete #{review.id}
           